@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("helpdesk.alkamitech.com") {

.ghx-issue {
    border-radius: 4px;
    margin: 4px 4px 6px !important;
    border-left: 1px solid #ccc !important;
}

.ghx-issue-subtask {
    margin-left: 10px !important;
}

.ghx-issue .ghx-issue-content {
    padding: 5px 5px 5px 10px !important;
}

.ghx-issue-fields {
     padding-right: 0 !important;
}

.js-key-link {
    font-size: 11px;
}

.ghx-inner {
    font-size: 12px;
    line-height: 135% !important;
    max-height: 66px !important;
    padding-top: 5px;
}
/*
.ghx-issue .ghx-flags,
.ghx-issue .ghx-avatar {
    left: auto !important;
    right: 5px !important;
}*/

.ghx-issue .ghx-flags,
.ghx-issue .ghx-avatar {
    left: auto !important;
}

.ghx-issue .ghx-flags {
    right: 30px !important;
    top: 7px !important;
}

.ghx-issue .ghx-avatar {
    right: 5px !important;
    top: 3px !important;
}

.ghx-avatar-img {
    height: 18px !important;
    width: 18px !important;
}

.ghx-issue .ghx-type {
    left: 10px !important;
    top: 5px !important;
}

.ghx-column .ghx-key a {
    font-size: 11px !important;
    font-weight: bold;
    margin-left: 20px !important;
}

.ghx-grabber {
    border-radius: 4px 0 0 4px;
    width: 3px !important;
}


/* Dim cards past QA lanes */

.ghx-column[data-column-id="188"] .ghx-issue,
.ghx-column[data-column-id="189"] .ghx-issue {
    opacity: 0.7;
}

.ghx-column[data-column-id="190"] .ghx-issue {
    opacity: 0.4;
}

.ghx-column[data-column-id="188"] .ghx-issue:hover,
.ghx-column[data-column-id="189"] .ghx-issue:hover, 
.ghx-column[data-column-id="190"] .ghx-issue:hover {
    opacity: 1;
}



/* Extra Fields on cards */

.ghx-extra-field .ghx-extra-field-content {
    color: #939393 !important;
    font-size: 11px !important;
    padding-left: 16px;
    position: relative;
}

.ghx-extra-field .ghx-extra-field-content:before {
    background-repeat: no-repeat;  
    content: "";
    display: inline-block;
    height: 12px;
    position: absolute;
    top: 1px;
    width: 12px;
}

.ghx-extra-field[data-tooltip^="Due Date"] .ghx-extra-field-content:before {
    background-image: url("https://s3.amazonaws.com/uploads.hipchat.com/11887/39301/cQJp6KGBExnOyW6/date.png");
    left: 0;
}

.ghx-extra-field[data-tooltip^="Σ Original Estimate"] .ghx-extra-field-content:before {
    background-image: url("https://s3.amazonaws.com/uploads.hipchat.com/11887/39301/HsNpRpkSfJNVSle/clock.png");
    left: 0;
}

.ghx-extra-field[data-tooltip^="Σ Time Spent"] .ghx-extra-field-content:before {
    background-image: url("https://s3.amazonaws.com/uploads.hipchat.com/11887/39301/HsNpRpkSfJNVSle/clock.png");
    left: 0;
}

.ghx-extra-field[data-tooltip^="Σ Time Spent"] .ghx-extra-field-content {
    color: green !important;
    position: relative;
    padding-right: 34px;
}

.ghx-extra-field[data-tooltip^="Σ Time Spent"] .ghx-extra-field-content:after {
    content: " spent";
    position: absolute;
    height: 20px;
    width: 30px;
    display: inline-block;
    right: 0px;
}

/* Hide field if value is "none" */
.ghx-extra-field[data-tooltip~="None"] {
    display: none !important;
}

}